@import '../../styles/colors.module';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid $grayColor;
}

.pagination__button {
  padding: 1rem;
  font-size: 2rem;
}
