.card-creator-form__file-upload {
  margin: 1rem 0;
  text-align: center;
}

.file-upload__upload-button {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.file-upload__input {
  display: none;
}

.file-upload__img {
  display: block;
  max-width: 100%;
}
