@import '_colors.module.scss';

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem;
  border: 0.2rem solid;
}

.search-bar__input {
  flex-grow: 1;
  font-size: 2rem;
  border: none;
}

.search-bar__submit-button {
  &:hover {
    cursor: pointer;
  }
  border: none;
  background-color: $backgroundColor;
}

.search-bar__img {
  width: 2rem;
  height: 100%;
}

.search-bar__value {
  position: absolute;
  left: 0;
}
