@import '_colors.module.scss';

.main-page {
  background-color: $backgroundColor;
}

.search-bar-wrapper {
  margin: 0 auto;
}

.sorry-message {
  font-size: 3rem;
}

.loading-message {
  font-size: 3rem;
}
