@import '_colors.module.scss';

.main-page {
  background-color: $backgroundColor;
}

.search-bar-wrapper {
  margin: 0 auto;
}

.sorry-message {
  font-size: 3rem;
}

.loading-message {
  font-size: 3rem;
}

.current-page-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-page-input__select {
  width: 5rem;
  height: 4rem;
  font-size: 2rem;
}
